<!DOCTYPE html>
<html ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <title>猜数游戏</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/angular.min.js"></script>
    <script>
        // 声明一个模块
        var myapp = angular.module("myapp",[]);

        // 注册一个控制器
        myapp.controller("guessNumberCtrl",function($scope){
            // 定义一个保存随机数的变量
            var random = null;

            // 验证用户的猜测值和随机值之间的差值
            $scope.validate = function(){
                $scope.differ = $scope.guess - random;
                $scope.numberOfGuess += 1;  // 猜测次数增加1
            };

            $scope.initGame = function(){
                random = Math.floor(Math.random()*1000 + 1);    // 生成随机数: 1-1000

                // 定义三个需要绑定到view视图的变量
                $scope.guess = null;            // 用户猜测的数
                $scope.numberOfGuess = 0;       // 用户猜测的次数
                $scope.differ = null;           // 猜测数和随机数之间的差值
            };

            $scope.initGame();     // 初始化时执行一次
        });
    </script>
</head>
<body ng-controller="guessNumberCtrl">
<div class="container">
    <h1>猜数游戏</h1>
    <p class="well lead">猜一猜，多大值?(1-1000)</p>
    <label>我猜是：</label>
    <input type="number" ng-model="guess">
    <button class="btn btn-primary btn-sm" ng-click="validate()">验证</button>
    <button class="btn btn-success btn-sm" ng-click="initGame()">再玩一次</button>
    <p>
        <p ng-show="differ<0">小了点</p>
        <p ng-show="differ>0">大了点</p>
        <p ng-show="differ==0">OK</p>
    </p>
    <p class="text-info">猜测次数：<span class="badge">{{numberOfGuess}}</span></p>
</div>
</body>
</html>